Add the Farmer Instrument:
<%= form_with scope: :farmer_instrument,  url: farmer_instruments_path, local: true do |form| %>
  <p>
      <%= form.select(:farmer_id, Farmer.all.collect{|x| [x.full_name, x.id]}, :prompt => 'Select') %>
  </p>
  <p>
      <%= form.select(:instrument_id, Instrument.all.collect{|x| [x.name, x.id]}, :prompt => 'Select') %>
  </p>
  <p>
    <%= form.label :Rent %><br>
    <%= form.text_field :rent_per_hour %>
  </p>

  <p>
    <%= form.label :Deposit %><br>
    <%= form.text_area :deposit %>
  </p>

  <p>
    <%= form.label :Is_Available %><br>
    <%= form.text_area :is_available %>
  </p>

  <p>
    <%= form.label :Available_Till %>
    <%= datetime_select(:farmer_instrument, "available_till") %>
  </p>

  <p>
    <%= form.label :Next_Available%>
    <%= datetime_select(:farmer_instrument, "next_available") %>
  </p>

  <p>
    <%= form.submit %>
  </p>  
<% end %>
