<h1>Instruments Details</h1>
<%= link_to 'Add New Instrument', new_instrument_path %>
<table>
    <tr>
      <th><h2>Instrument Name</h2></th>
      <th><h2>Brand</h2></th>
      <th><h2>Specification</h2></th>
      <th><h2>Detail</h2></th>
      <th><h2>Edit</h2></th>
    </tr>
    <% @instruments.each do |instrument| %>
      <tr>
        <td><h4><%= instrument.name %></td>
        <td><h4><%= instrument.brand %></td>
        <td><h4><%= instrument.specification %></td>
        <td><h4><%= link_to 'View', instrument_path(instrument.id)%></h4></td>
        <td><h4><%= link_to 'Edit', edit_instrument_path(instrument.id)%></h4></td>
      </tr>
    <% end %>
</table>
