<h1>Details of Instrument</h1>
<table>
  <tr>
    <th><h2> Farmer Name </h2></th>
    <th><h2> Mobile </h2></th>
    <th><h2> Email </h2></th>
  </tr>
  <tr>
    <td><h4><%= @instrument.name %></h4></td>
    <td><h4><%= @instrument.brand %></h4></td>
    <td><h4><%= @instrument.specification %></h4></td>
  </tr>
</table>

<h1>Farmer having this Instrument</h1>
<table>
  <tr>
    <th><h2>Farmer Name</h2></th>
    <th><h2>Mobile number</h2></th>
    <th><h2>Email</h2></th>
    <th><h2>View More Details</h2></th>
  </tr>
  <% @farmers.each do |farmer| %>
    <tr>
      <td><h4><%= farmer.full_name %></td>
      <td><h4><%= farmer.mobile_number %></td>
      <td><h4><%= farmer.email %></td>
      <td><h4><%= link_to 'View', farmer_path(farmer.id) %></td>
    </tr>
  <% end %>
</table>
